:root {
	--primary: #eb0464;
	--work: #1d6bdf;
	--house: #3ad10c;
	--personal: var(--primary);
	--none: var(--grey);
	--light: #EEE;
	--grey: rgb(128, 128, 128);
	--dark: #313154;
	--danger: #ff4f4d;

	--shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

	--work-glow: #1d6bdf;
	--personal-glow: #eb0464;
	--house-glow: #3ad10c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

body {
	background: var(--dark);
	color: var(--light);
}

section {
	padding-left: 1.5rem;
	padding-right: 1.5em;
}

h2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h3 {
	color: var(--light);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--light);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.greeting .title {
	display: flex;
}

.greeting .title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.greeting .title,
.greeting .title input {
	color: var(--light);
	font-size: 1.5rem;
	font-weight: 700;
}

.create-todo input[type="text"] {
	display: block;
	width: 440px;
	font-size: 1.125rem;
	padding: 1.3rem 1.5rem;
	color: var(--light);
	background-color: #464646;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
	height: 40px;
}

.create-todo .options {
	display: flex;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	cursor: pointer;
	width: 120px;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	border: 2px solid var(--work);
}

.bubble.personal {
	border-color: var(--personal);
}

.bubble.house {
	border-color: var(--house);
}

.bubble.none {
	border-color: var(--none);
}

.bubble::after {
	content: "";
	display: block;
	opacity: 0;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background-color: var(--work);
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
}

.bubble.house::after {
	background-color: var(--house);}

.bubble.none::after {
	background-color: var(--none);}

input:checked ~ .bubble::after {
	width: 15px;
	height: 15px;
	opacity: 1;
}

.create-todo .options label div {
	color: var(--light);
	font-size: 0.9rem;
	margin-top: 0.5rem;
}

.create-todo button {
	display: block;
	width: 30%;
	max-height: 40px;
	font-size: 1.125rem;
	color: #FFF;
	border-style: solid;
	margin-right: 20px;
	border-color: var(--dark);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.create-todo button:hover {
	border-style: solid;
	margin-right: 20px;
	border-color: var(--primary);
	border-radius: 0.5rem;
}

.create-todo input[type="submit"] {
	display: block;
	width: 75%;
	max-height: 40px;
	font-size: 1.125rem;
	color: #FFF;
	background-color: var(--primary);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
	opacity: 0.75;
}

.todo-list .list {
	margin: 1rem 0;
}

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #464646;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content {
	flex: 1 1 0%;
}

.todo-item .todo-content input {
	color: var(--light);
	font-size: 1.125rem;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
	opacity: 0.70;
}

.todo-item .actions .edit {
	margin-right: 0.5rem;
	background-color: var(--primary);
}

.todo-item .actions .delete {
	background-color: var(--danger);
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: var(--grey);
}